body {
  margin: 0;
  padding: 10px;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: left;
}

a.home {
  display: none;
}
span.banner {
  display: none;
}

.hidden,
.unsichtbar,
.thermenh2,
.hotelh2,
.spah2,
.infoh2,
.serviceh2,
.seminarh2 {
  display: none;
}
.clear {
  display: block;
  height: 0px;
  line-height: 0em;
  font-size: 0px;
  clear: both;
  margin: 0;
  padding: 0;
}
#block {
  margin: 0;
  padding: 0;
}
#subnavigation {
  display: none;
}
#content {
  text-align: left;
}

/*---Gutscheinbutton----*/
#gutscheine {
  display: none;
}

/*------Brotkrume--------*/
#brotkrumennavigation {
  display: none;
}

/*----------Servicenavi--------*/

#nav1 {
  display: none;
}


/*--------Hauptnavis---------*/
#nav2,
#nav3,
#nav4,
#nav6 {
  display: none;
}

/*--------Hauptnavi Folgeebenen------*/

#navsub {
  display: none;
}


/*-----------Infonavi------------*/
#nav5 {
  display: none;
}

/*------------box-------------*/
.box_in {
  display: none;
}

#footer {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

#vxhtml, #vcss, #waiaaa, #sprung, #print, #schrift {
  display: none;
}

#ansicht {
  display: none;
}

#schrift {
  display: none;
}

/*----Die Formatierung des Contents------*/
#content h1 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #444444;
  line-height: 3.2em;
}
#content h2,
.box_in h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #ff6600;
}
#content h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #999999;
}
#content h3.stripes {
  font-size: 1.4em;
  line-height: 2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #444444;
  border-top: 1px #555555 solid;
  border-bottom: 1px #555555 solid;  
}
#content h4 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #444444;
}
#content h5 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #444444;
}
#content h6 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #444444;
}
#content a {
  color: #ff6600;
}