/* DROPDOWN MENÜ */
  header .dropdown-menu a {
  background-color: #dbdbdb !important;
    color: 000;
    text-transform: capitalize !important;
  }
  header .dropdown-menu a:hover {
    background-color: #9c9c9c !important;
    color: white !important;
  }
  header .dropdown-menu a:active {
    background-color: #e72e30 !important;
    color: #ffffff !important;
  }

  footer a {
    color: black;
  }
  footer a:hover {
      text-decoration: none;
  }