/* DROPDOWN MENÜ */
  header .dropdown-menu a {
  background-color: #dbdbdb !important;
    color: 000;
    text-transform: capitalize !important;
  }
  header .dropdown-menu a:hover {
    background-color: #9c9c9c !important;
    color: white !important;
  }
  header .dropdown-menu a:active {
    background-color: #e72e30 !important;
    color: #ffffff !important;
  }

  footer a {
    color: black;
  }
  footer a:hover {
      text-decoration: none;
  }

  /* Product Page */
.ppt_opc #wsd-checkout-box img.product-image {
  display: none;
}


#website_cookie_notice {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: #000!important;
    overflow: hidden;
    z-index: 9001;
}
#website_cookie_notice a {
    color: #e72e30;
}
