@font-face {
  font-family: 'Avenir LT Std';
  src: url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-HeavyOblique.woff2') format('woff2'),
      url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-HeavyOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
      url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-LightOblique.woff2') format('woff2'),
      url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-LightOblique.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Light.woff2') format('woff2'),
      url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
      url('/proj_config/static/css/proj_theme_2021/Fonts/AvenirLTStd-Oblique.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


